.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	border-radius: 1em;
	width: 45em;
	margin: 0 auto;
	padding: 2em;
}

.container .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.container select {
	margin-bottom: 1em;
}

.container .fullname {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.container .selects {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.container .password {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
