.container {
    margin: 0;
    border: solid 1px gray;
    border-radius: 0.3em;
    padding: 0.5em 2em;
}

.container .section_one{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a {
    text-decoration: none;
}

.container .section_one Input,
.container .section_two Select,
.container .section_two Input,
.container .section_three Select,
.container .section_three Input{
    margin: 0;
}

.container .section_two{
    display: flex;
    flex-direction: column;
}

.container .section_three{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_requisition {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: #4682B4;
    cursor: pointer;
    position: absolute;
    left: 96.4%;
    top: 16%;
}