.container {
    width: 100%;
    margin: 0;
    border: solid 1px gray;
    border-radius: 0.3em;
    padding: 0.5em 2em;
}

.container .section_one{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .section_one Input,
.container .section_two Select,
.container .section_two Input,
.container .section_three Select,
.container .section_three Input{
    margin: 0;
}

.container .section_two{
    display: flex;
    flex-direction: column;
}

.container .section_three{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}