.container_req {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 94em;
  height: 25em;
}

/* requisition */
.container_req .table_req {
  width: 35em;
  max-height: 25em;
  padding: 0;
  margin: 0;
  font-size: small;
  text-align: center;
}

.container_req .div_table_req {
  width: 30em;
  min-height: 22em;
  max-height: 22em;
  overflow-y: scroll;
  border: 1px solid gray;
  margin-right: 1%;
  
}


/* requisition itens */
.container_req .table_itens {
  width: 65em;
  max-height: 25em;
  padding: 0;
  margin: 0;
  font-size: small;
  text-align: center;
}

.container_req .div_table_itens {
  width: 65em;
  min-height: 22em;
  max-height: 22em;
  overflow-y: scroll;
  border: 1px solid gray;
  margin: 0%;
  
}

.container_req tbody tr:hover{
  background-color: #4682B4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container_req caption {
  font-weight: bold;
  color: #4682B4;
}

.container_req button{
  background-color: transparent;
  border: none;
}

.container_req .on {
  color: darkred;
  cursor: pointer;
  transition: 1s;
}

.container_req .off_green {
  font-size: 1.5em;
}

.container_req .on_green {
  color: darkgreen;
  cursor: pointer;
  font-size: 1.5em;
  transition: 1s;
}

.container_req input {
  cursor: pointer;
}

.container_req .off_email {
  font-size: 1.5em;
}

.container_req .on_email {
  color: blue;
  cursor: pointer;
  font-size: 1.5em;
  transition: 1s;
}