.container {
  width: 60%;

}

.container tbody tr:hover {
  background-color: #4682B4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container .div_table_itens {
  overflow: scroll;
  height: 30%;
}