.container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.container .div_logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5em;
}

.container .div_logo img {
	height: 5em;
	width: 7em;
	cursor: pointer;
}

.container .div_list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.container ul {
	display: flex;
}

.container li {
	margin-right: 2em;
	list-style: none;
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	transition: 1s;
	font-size: 1.5em;
}

.container li:hover {
	background-color: #4b0082;
	color: white;
}

.container .link {
	color: #fff;
	text-decoration: none;
}

.container .div_avatar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.container.div_menu {
	display: flex;
	justify-content: flex-end;
}

.container.div_menu button {
	cursor: pointer;
	background-color: transparent;
	transition: 1s;
}

.container .log_out button{
	cursor: pointer;
	margin: 0.2em 0;
	background-color: transparent;
	border: none;
	color: white;
	transition: 0.5s;
}

.container .log_out button:hover{
	text-decoration: underline;
	font-weight: 600;
	border-radius: 0.2em;
}