.container {
    display: flex;
    /* height: 30%; */
    margin: 0 auto;
}

.container .table_requisition, span {
    text-align: center;
    font-weight: bold;
    margin-right: 1%;
    width: 40%;
}

.container td, tr, th {
    font-size: smaller;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.container tbody tr:hover{
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container caption {
    font-weight: bold;
    color: #4682B4;
}

.container button{
    background-color: transparent;
    border: none;
}

.container .on {
color: darkred;
cursor: pointer;
transition: 1s;
}

.container .off_green {
font-size: 1.5em;
}

.container .on_green {
color: darkgreen;
cursor: pointer;
font-size: 1.5em;
transition: 1s;
}

.container input {
cursor: pointer;
}

.container .off_email {
font-size: 1.5em;
}

.container .on_email {
color: blue;
cursor: pointer;
font-size: 1.5em;
transition: 1s;
}