.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.container button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: 1s;
}

.container button:hover {
	background-color: #4682b4;
	border-radius: 1em;
	color: white;
}
